.navbar-items{
    list-style: none;
}

.navbar-items li{
    display: block;
    width: 90%;
    height: 60px;
    border-radius: 30px;
}

.navbar-items li:hover {
    background-color: rgb(23 23 23);
}

.navbar-items li:hover svg{
    font-size: 1.75rem !important;
}